.doctors-speciality {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 60px 64px 0;
}

.doctors-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons-column button {
    width: 417px;
    border: 0;
    border-radius: 5px;
    color: #000000;
    background-color: #F5F9FB;
    text-align: left;
    padding: 18px 0 18px 20px;

    &:hover {
        color: var(--dark-blue-color);
    }
}

.advantages {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-blue-color);
    padding: 45px 70px;
    margin: 40px 64px 0;
    border-radius: 5px;
}

.advantage-item {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.advantage-item img {
    width: 50px;
    height: 50px;
}

.advantage-item-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}