.slider {
    overflow: hidden;
    position: relative;
}

.slidesDoctor {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideDoctor {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    box-sizing: border-box;
}

.slider-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 120px 64px 0;
}

.slider-heading {
    display: flex;
    justify-content: space-between;
}

.slider-buttons-row {
    display: flex;
    gap: 10px;
}

.slider-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: var(--blue-color);
    background-color: #EAF6FF;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #FFFFFF;
        background-color: var(--blue-color);
    }
}

.doctor-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.doctor-item img {
    height: 350px;
    border-radius: 5px;
}

.doctor-item-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.doctor-item-text a {
    text-decoration: none;
}

.doctor-item button {
    width: 306px;
    height: 54px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: var(--dark-blue-color);

    &:hover {
        background-color: #0070B1;
    }
}