.head-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-blue-color);
}

.head-banner-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-banner-column h2 {
    margin: 0 0 30px 64px;
}

.banner-image {
    background: linear-gradient(to left, #00578a, #f0f6f9);
}

.licenses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 64px 70px;
}

.licenses-card-row {
    display: flex;
    gap: 30px;
}

.licenses-item {
    width: 305px;
    height: 478px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.licenses-img-block {
    padding: 20px;
    border: 1px solid #BEE1F6;
    border-radius: 5px;
}

.licenses-img-block img {
    width: 100%;
    height: auto;
}

.licenses-item a {
    text-decoration: none;

    &:hover {
        color: var(--blue-color);
    }
}